<div *ngIf="dish">
    <h2 class="d-flex justify-content-center">~~~{{dish.name | uppercase}}~~~</h2>
    <div>
      <span class="h2 text-danger d-flex justify-content-center">{{dish.color}}</span>
      <span class="h2 d-flex justify-content-center">{{dish.flavor}}</span>
      <div class="d-flex justify-content-center py-3">
        <img class="rounded img-fluid" height="500" width="500" src="{{dish.img}}">
      </div>
      <div class="d-flex justify-content-center nav">
        <a class="h2 d-flex justify-content-center nav-link" href="{{dish.recipeURL}}">Go to Recipe</a>
      </div>
    </div>
    <div *ngIf="editMode">
      <div class="input-group mb-3">
        <span class="input-group-text">Name</span>
        <input type="text" class="form-control" name="dish-name" [(ngModel)]="dish.name" (input)="toggleDynamicClass()" placeholder="Dish name"/>
        <span class="input-group-text">Color</span>
        <input class="form-control" name="dish-color" [(ngModel)]="dish.color" (input)="toggleDynamicClass()" placeholder="Dish color"/>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Flavor</span>
        <input class="form-control" name="dish-flavor" [(ngModel)]="dish.flavor" placeholder="Dish flavor"/>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Recipe URL</span>
        <input class="form-control" name="dish-recipeURL" [(ngModel)]="dish.recipeURL" placeholder="URL..."/>
        <input class="form-control" name="dish-flavor" [(ngModel)]="dish.flavor" (input)="toggleDynamicClass()" placeholder="Dish flavor"/>
      </div>
    </div>
    <button class="btn btn-dark btn-lg" type="button" (click)="goBack()">Back</button>
    <button *ngIf="!editMode" class="btn btn-dark btn-lg" type="button" (click)="edit()">Edit Mode</button>
    <button *ngIf="editMode" class="btn btn-lg" [ngClass]="isWarningClass ? 'btn-warning' : 'btn-primary'" type="button" (click)="save(true); toggleDynamicClass()">save</button>
    <button type="button" class="btn btn-success btn-sm" (click)="upvoteIt()">
      <img src="../assets/upvote.png" width="20" height="20">
    </button>
    <button type="button" class="btn btn-danger btn-sm" (click)="downvoteIt()">
      <img src="../assets/downvote.png" width="20" height="20">
    </button>
    <label>Ratings: {{dish.rating}}</label>
</div>