<div class="navbar navbar-expand-lg sticky-top bd-navbar">
  <nav class="container-fluid">
      <div class="button-group">
        <a class="navbar-brand" href="#" title="Tour of Caspian">
          <img src="../assets/LogoTOC.png" width="40" height="40">
        </a>
        <a type="button" routerLink="/dashboard" class="btn btn-dark me-2" title="Dashboard">Dashboard</a>
        <a type="button" routerLink="/dishes" class="btn btn-dark me-2" title="Dishes">Dishes</a>
        <a type="button" routerLink="/add-dish" class="btn btn-dark" title="Add New Dish">Add Dish</a>
      </div>
      <div class="col-auto">
        <input type="text" class="form-control d-none d-sm-block sBox1" placeholder="Search..." #searchBox (input)="search(searchBox.value)">
      </div>
      <h1 class="d-none d-md-block">{{title}}</h1>
  </nav>
</div>
<div>
  <input type="text" class="form-control mt-3 mb-1 d-sm-none" placeholder="Search..." #searchBox2 (input)="search(searchBox2.value)">
</div>
<div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let dish of dishes$ | async" >
      <div class="row">
        <div class="col-auto">
          <a type="button" routerLink="/detail/{{dish.id}}" (click)="searchBox.value = ''; searchBox2.value = ''; search('')">{{dish.name}}</a>
        </div>
        <div class="col-auto">
          <img class="rounded img-fluid" height="50" width="50" src="{{dish.img}}">
        </div>
      </div>
      
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
<app-messages></app-messages>
