.bd-navbar::after {
  position: absolute;
  height: 70px;
  inset: 0;
  z-index: -1;
  display: block;
  content: "";
  background-image: linear-gradient(rgba(16, 84, 210, 0.8), rgba(16,84,210,0.6), rgba(34, 193, 214, 0.6));
}