<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h2 class="mt-2">Top Rated Dishes</h2>
    </div>
    <div class="row justify-content-center g-2">
      <div class="col-auto" *ngFor="let dish of dishes">
        <div class="card" style="width: 11rem;">
          <img src="{{dish.img}}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{dish.name}}</h5>
            <p class="card-text">{{dish.flavor}}</p>
            <div class="text-center">
              <span class="ratingText badge text-bg-dark mb-1">Rating: {{dish.rating}}</span>
            </div>
            <div class="text-center">
              <a routerLink="/detail/{{dish.id}}" class="btn btn-primary btn-sm">Go to dish...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-center">
      <label class="mt-4 mb-2 h5">Welcome to the Tour of Caspian, search, add and view several mysterious persian dishes. </label>
    </div> 
    <div class="col-12 text-center">
      <video class="img-thumbnail" muted autoplay loop>
        <source src="../assets/kitchen.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>   
  </div>
</div>