<div class="btn-group">
  <button type="button" class="btn btn-dark btn-lg">My Dishes</button>
  <button type="button" class="btn btn-success btn-lg" title="add dish" routerLink="/add-dish">Add</button>
</div>
<div class="m-3">
  <ul class="list-group-flush">
    <li class="list-group-item btn-group mt-2" *ngFor="let dish of dishes">
      <a class="btn btn-dark" routerLink="/detail/{{dish.id}}">
        <span class="badge text-bg-warning">Rating {{dish.rating}}</span>
        <span class="badge">ID:{{dish.id}}</span>{{dish.name}}
      </a>
      <button type="button" class="btn btn-danger btn-md" title="delete dish"
        (click)="delete(dish)">x</button>
    </li>
  </ul>
</div>